body {
margin-top: 0px;
margin-right: 0px;
margin-bottom: 0px;
margin-left: 0px;
}
.header
{
text-align: center;
padding-top: 30px;
font-size: 100px;
font-stretch: ultra-condensed;
font-family: Dokdo;
}
.background{
height:1200px;
background:#EEE8AA;
background-repeat:repeat;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: -2;
}

i{
color:black;
}
a{
color: black;
font-family: Dokdo;
}
.p-2 {
font-size:40px;
}
.figure{
height:300px;
width: 450px;
border-style: dashed;
border-color: brown;
padding:20px;
word-wrap: all;
opacity: 1;
display: block;
transition: .5s ease;
backface-visibility: hidden;
}

.member-introduction{
font-family:"微軟正黑體";
font-size:20px;
font-weight:bold;
padding:50px 50px 50px 230px;

}
.column_member{
padding:30px;
}
.gohome{
position:fixed;
right:50px;
bottom: 50px;
z-index: -1;
}
.memberCard:hover {
transform:scale(1.1);
}
.memberCard{
position: relative;
width: 350px;
height: 350px;

}
}
.figure{
opacity: 1;
display: block;
width: 350px;
height: 350px;
transition: .5s ease;
backface-visibility: hidden;

}
.middle{
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
text-align: center;
background-color: black;
}
.memberCard:hover .figure {
opacity: 0.8;
}
.memberCard:hover .middle {
opacity: 1;
}
.text {
font-size: 16px;

}